body {
    min-height: 100vh;
    font-family: "Noto Sans", Sans-Serif;
    background: linear-gradient(to bottom, #2d2924 0%, #1f1d1c 5%);
}

#main-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#board-wrap {
    position: relative;
    margin: 50px;
    cursor: pointer;
}

shadow {
    background: rgba(22, 21, 18, 0.7);
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 500;
}

board {
    background-image: url("../img/board.svg");
    display: grid;
    grid-template-columns: repeat(8, 130px);
    grid-template-rows: repeat(8, 130px);
    position: relative;
}

square {
    position: relative;
    padding-bottom: calc(12.5% - 2px);
}

.promotion-menu-black {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 400%;
    z-index: 999;
}

.promotion-menu-white {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 400%;
    z-index: 999;
}

.menu-item {
    position: relative;
    height: 25%;
    pointer-events: all !important;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px gray;
    transition: all 150ms;
}

.menu-item:hover {
    box-shadow: inset 0 0 48px 8px #d64f00;
    border-radius: 0%;
}

div.menu-item piece {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
}

div.menu-item piece:hover {
    transform: scale(1);
    border-radius: 0%;
}
.pause {
    pointer-events: none;
}

.available {
    background: radial-gradient(rgba(20, 85, 30, 0.5) 19%, rgba(0, 0, 0, 0) 20%);
}

.available-with-piece {
    background: radial-gradient(transparent 0%, transparent 79%, rgba(20, 85, 0, 0.3) 80%);
}

.check {
    background: radial-gradient(ellipse at center, rgb(255, 0, 0) 0%, rgb(231, 0, 0) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
}

.last-move {
    background-color: rgba(155, 199, 0, 0.41);
}

.selected {
    background-color: rgba(20, 85, 30, 0.5);
}

.highlight {
    background-color: rgb(239, 114, 92);
    opacity: 85%;
}

square.available:hover {
    background-color: rgb(168, 169, 125) !important;
}

square.available-with-piece:hover {
    background-color: rgb(123, 107, 59) !important;
}

square piece {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

piece:hover {
    cursor: grab;
}

piece:active {
    cursor: grabbing;
}

.piece-float {
    animation: hoverEffect 0.2s infinite alternate;
}

@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

coords {
    position: absolute;
    display: flex;
    pointer-events: none;
    user-select: none;
    color: #fff;
    font-weight: bold;
    z-index: 300;
}

coords.ranks {
    flex-flow: column-reverse;
    top: 1px;
    right: 0;
    height: 100%;
    width: 0.8em;
}

coords.ranks.black {
    flex-flow: column;
}

coords.files {
    bottom: 0px;
    left: 0;
    text-align: left;
    flex-flow: row;
    width: 100%;
    height: 1.4em;
}

coords.files.black {
    flex-flow: row-reverse;
}

coords.files coord {
    padding-left: 4px;
}

coords coord {
    flex: 1 1 auto;
}

@media (min-width: 320px) {
    s coords {
        font-size: calc(8px + 4 * ((100vw - 320px) / 880));
    }
}

@media (min-width: 1200px) {
    coords {
        font-size: 12px;
    }
}

.coords-dark {
    color: #946f51 !important;
}

.coords-light {
    color: #f0d9b5 !important;
}

@media (max-width: 768px) {
    #chessboard {
        grid-template-columns: repeat(8, 60px);
        grid-template-rows: repeat(8, 60px);
    }

    /* Adjust individual square padding for smaller screens */
    square {
        padding-bottom: calc(6.25% - 2px);
    }
}
